.clearfdix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.cleasrfix { display: block; }

body, html {
	background: whitesmoke;
	color: whitesmoke;
	overflow: hidden;

	font-family: 'Vollkorn' sans-serif;
	font-size: 24px;

    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}



#fouc {
	overflow: hidden;
}