section {
	padding: 2em;
}

.content-area {
	width: 100vw;
}

.showreel .parallax-layer-base {
	background: #072e66;
}

.references .parallax-layer-back {
	background: url("../images/lamp.jpg");
}

.aboutme .parallax-layer-base {
	background: #072e66;
}

.pricing .parallax-layer-back {
	background: url("../images/hand.jpg");
}

.contact .parallax-layer-base {
	background: #072e66;
}