body, html {
    overflow:hidden;

	background: whitesmoke;
	color: whitesmoke;

	font-family: 'Vollkorn' sans-serif;
	font-size: 24px;

    text-size-adjust: 100%
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: block; }

.vertical-center {
	position: relative;
	top: 50vh;
	transform: translateY(-50%);
}

#fouc {
	overflow: hidden;
}