
.content-area {
	width: 100vw;
}

.entry-content {
	// border: 1px solid yellow;
}

.showreel .parallax-layer-base {
	background: $dark-blue;
}

.showreel .parallax-layer-section {
	top: 55vh;  /*account for navigation bar in the showreel section */
}

.showreel .entry-content {
	margin: 0 auto;
	max-width: 1280px;
}

.references .parallax-layer-back {
	background: url("../images/lamp.jpg");
}

.aboutme .parallax-layer-base {
	background: $dark-blue;
}

.pricing .parallax-layer-back {
	background: url("../images/hand.jpg");
}

.contact .parallax-layer-base {
	background: $dark-blue;
}